<div class="col-10 col-sm-10 m-auto mt-5">
  <span *ngIf="users.length > 0">Users</span>
  <table *ngIf="users.length > 0" class="table table-dark">
    <thead>
      <tr class="table-dark">
        <th scope="col">Email</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Date Of Birth</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="table-dark">
      <tr *ngFor="let user of users | orderBy : 'manager_id'">
        <td>{{ user.email_address }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.date_of_birth | date : "dd.MM.YYYY" }}</td>

        <td>
          <button
            *ngIf="user.manager_id == null"
            (click)="assignUserToManager(user.id)"
            class="btn btn-success btn-sm"
          >
            Assign
          </button>
          <button
            [disabled]="true"
            *ngIf="user.manager_id != null"
            class="btn btn-outline-success btn-sm"
          >
            Assigned
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <span *ngIf="applications.length > 0">Applications</span>
  <table *ngIf="applications.length > 0" class="table table-dark">
    <thead>
      <tr>
        Applications
      </tr>
      <tr class="table-dark">
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Training</th>
        <th scope="col">Training Start Date</th>
        <th scope="col">Training End Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="table-dark">
      <tr *ngFor="let application of applications">
        <td>{{ application.user.email_address }}</td>
        <td>
          {{ application.user.first_name + " " + application.user.last_name }}
        </td>
        <td>{{ application.training.name }}</td>
        <td>{{ application.training.start_date | date : "dd.MM.YYYY" }}</td>
        <td>{{ application.training.end_date | date : "dd.MM.YYYY" }}</td>

        <td>
          <button
            *ngIf="application.state === 'Pending'"
            (click)="openApplicationResponseDialog(application.id, 'Approved')"
            class="btn btn-success btn-sm"
          >
            Approve
          </button>

          <button
            *ngIf="application.state === 'Pending'"
            (click)="openApplicationResponseDialog(application.id, 'Rejected')"
            class="btn btn-danger btn-sm ms-1"
          >
            Reject
          </button>

          <button
            *ngIf="application.state == 'Approved'"
            class="btn btn-outline-success btn-sm"
            [disabled]="true"
          >
            Approved
          </button>

          <button
            *ngIf="application.state == 'Rejected'"
            class="btn btn-outline-danger btn-sm"
            [disabled]="true"
          >
            Rejected
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <span *ngIf="applications.length > 0"> Attendance </span>
  <table *ngIf="attendances.length > 0" class="table table-dark">
    <thead>
      <tr class="table-dark">
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Training</th>
        <th scope="col">Attendance Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="table-dark">
      <tr *ngFor="let attendance of attendances">
        <td>{{ attendance.user.email_address }}</td>
        <td>
          {{ attendance.user.first_name + " " + attendance.user.last_name }}
        </td>
        <td>{{ attendance.training.name }}</td>
        <td>{{ attendance.attendance | date : "dd.MM.YYYY" }}</td>
        <td>{{ attendance.feedback }}</td>
      </tr>
    </tbody>
  </table>
</div>
