<h1 mat-dialog-title>Edit user</h1>
<hr />
<div mat-dialog-content>
  <div [formGroup]="form" class="card-body">
    <div class="row">
      <div class="col-md-12 mb-4 pb-2">
        <div class="form-outline">
          <label class="form-label" for="emailAddress"
            >Email<span class="text-danger">*</span>
          </label>
          <input
            [readonly]="true"
            [formControlName]="editUserControlsEnum.EMAIL"
            type="email"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-12 mb-4">
        <div class="form-outline">
          <label class="form-label" for="firstName"
            >Password<span class="text-danger">*</span></label
          >
          <input
            [formControlName]="editUserControlsEnum.PASSWORD"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div *ngIf="userService.getUser().user_type != 'Employee'" class="col-md-12 mb-4">
        <div class="form-outline">
          <label class="form-label" for="firstName"
            >User Type<span class="text-danger">*</span></label
          >
          <select
            [formControlName]="editUserControlsEnum.USER_TYPE"
            class="form-select form-control"
            aria-label="Default select example"
          >
            <option value="Employee">Employee</option>
            <option value="HR">HR</option>
            <option value="Manager">Manager</option>
          </select>
        </div>
      </div>

      <div *ngIf="userService.getUser().user_type != 'Employee'" class="col-md-12 mb-4">
        <div class="form-outline">
          <label class="form-label" for="firstName"
            >Status<span class="text-danger">*</span></label
          >
          <select
            [formControlName]="editUserControlsEnum.STATUS"
            class="form-select form-control"
            aria-label="Default select example"
          >
            <option value="false">Active</option>
            <option value="true">Inactive</option>
          </select>
        </div>
      </div>

      <div class="col-md-12 mb-4 d-flex align-items-center">
        <div class="form-outline datepicker w-100">
          <label for="birthdayDate" class="form-label">Date of Birth</label>
          <input
            [formControlName]="editUserControlsEnum.DATE_OF_BIRTH"
            type="date"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label" for="firstName"
            >First Name<span class="text-danger">*</span></label
          >
          <input
            [formControlName]="editUserControlsEnum.FIRST_NAME"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label" for="lastName"
            >Last Name<span class="text-danger">*</span></label
          >
          <input
            [formControlName]="editUserControlsEnum.LAST_NAME"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-12 mb-4 pb-2">
        <div class="form-outline">
          <label class="form-label" for="phoneNumber"
            >Phone Number<span class="text-danger">*</span></label
          >
          <input
            [formControlName]="editUserControlsEnum.PHONE_NUMBER"
            type="number"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-12 mb-4 pb-2">
        <div class="form-outline">
          <label class="form-label" for="phoneNumber"
            >Address<span class="text-danger">*</span></label
          >
          <textarea
            [formControlName]="editUserControlsEnum.ADDRESS"
            class="form-control"
          ></textarea>
        </div>
      </div>

      <div class="col-md-12">
        <button
          class="btn btn-outline-dark float-end"
          [disabled]="form.status !== 'VALID'"
          (click)="editUser(form)"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
