<div class="col-10 col-sm-10 m-auto mt-5">
  <div class="row row-cols-2 row-cols-md-4 row-cols-sm-2 row-cols-1 g-4">
    <div
      *ngFor="let training of trainings | orderBy : 'start_date'"
      class="col"
    >
      <div class="card h-100">
        <div class="card-header">
          <span class="title">
            {{ training.name }}
          </span>
        </div>
        <div class="card-body">
          <span class="card-text">
            <p>Start Date: {{ training.start_date | date : "dd.MM.YYYY" }}</p>
            <p>End Date: {{ training.end_date | date : "dd.MM.YYYY" }}</p>
            <span
              >Description:
              <p>{{ training.description }}</p></span
            >
            <p>
              Status:
              <span
                *ngIf="
                  compareDates(training.start_date, training.end_date) ===
                  'active'
                "
                class="text-success"
                >Active</span
              >
              <span
                *ngIf="
                  compareDates(training.start_date, training.end_date) ===
                  'past'
                "
                class="text-danger"
                >Past</span
              >
              <span
                *ngIf="
                  compareDates(training.start_date, training.end_date) ===
                  'upcoming'
                "
                class="text-info"
                >Upcoming</span
              >
            </p>
          </span>
        </div>

        <div *ngIf="currentUserRole == 'Employee'" class="card-footer">
          <button
            (click)="applyForTraining(training.id)"
            *ngIf="training.training_application.length == 0"
            [disabled]="
              compareDates(training.start_date, training.end_date) === 'past' ||
              compareDates(training.start_date, training.end_date) === 'active'
            "
            class="btn btn-outline-dark btn-sm float-end"
          >
            Apply
          </button>

          <span *ngIf="training.training_application.length > 0">
            <button
              *ngIf="training.training_application[0].state == 'Pending'"
              class="btn btn-outline-dark btn-sm float-end"
              [disabled]="true"
            >
              Pending
            </button>

            <button
              *ngIf="training.training_application[0].state == 'Pending'"
              class="btn btn-outline-dark btn-sm float-end me-1"
              (click)="cancelApplication(training.training_application[0].id)"
            >
              Cancel Application
            </button>

            <button
              *ngIf="training.training_application[0].state == 'Approved' && compareDates(training.start_date, training.end_date) === 'active'"
              class="btn btn-outline-secondary btn-sm float-end ms-1"
              (click)="setAttendance(training)"
              [disabled]="checkIfAlreadyAttendedToday(training)"
            >
              Add Attendance
            </button>

            <button
              *ngIf="training.training_application[0].state == 'Approved'"
              class="btn btn-outline-success btn-sm float-end"
              (click)="showReason(training)"
            >
              Approved
            </button>

            <button
              *ngIf="training.training_application[0].state == 'Rejected'"
              class="btn btn-outline-danger btn-sm float-end"
              (click)="showReason(training)"
            >
              Rejected
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
