<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a
      class="navbar-brand"
      [ngClass]="{ underline: activeLink === '/home' }"
      routerLink="/home"
      >CAPSTONE</a
    >
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            *ngIf="currentUserRole === 'HR'"
            class="nav-link active"
            [ngClass]="{ underline: activeLink === '/manage-users' }"
            aria-current="page"
            routerLink="manage-users"
            >Manage Users</a
          >
        </li>
        <li>
          <a
            *ngIf="currentUserRole === 'HR'"
            class="nav-link active"
            [ngClass]="{ underline: activeLink === '/manage-trainings' }"
            aria-current="page"
            routerLink="manage-trainings"
            >Manage Trainings</a
          >
        </li>
        <li>
          <a
            *ngIf="currentUserRole === 'Manager'"
            class="nav-link active"
            [ngClass]="{ underline: activeLink === '/manage-users-manager' }"
            aria-current="page"
            routerLink="manage-users-manager"
            >MyUsers</a
          >
        </li>
      </ul>

      <div class="ml-auto">
        <button
          *ngIf="currentUserRole === 'Employee'"
          title="Edit Profile"
          class="btn btn-primary btn-sm"
          (click)="editProfile()"
        >
        Edit profile
      </button>
        <button title="Logout" class="btn btn-danger btn-sm ms-2" (click)="logOut()">
          <i class="fa-solid fa-right-from-bracket"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
